<div class="container mt-5">
    <h3 class="text-center mb-4">{{title}}</h3>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each admins}}
            <tr>
                <td>{{this.username}}</td>
                <td class="text-center">
                    <a href="/delete-admin/{{this._id}}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?')">
                        Delete
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>